# Build directory for Github pages Jekyll site
_site

# Other Jekyll related files
.sass-cache
.jekyll-metadata

# OSX directory hidden file
.DS_Store

# As per http://ben.balter.com/jekyll-style-guide/gitignore/
# If the built site is served via GitHub Pages, you should also add Gemfile.lock to your 
# site’s .gitignore. The github-pages gem strictly versions dependencies, rendering 
# versioning the lockfile unnecessary, and potentially could result in using outdated 
# gem versions.
Gemfile.lock


